* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
  background-color: rgb(177, 177, 177);
  color: #ffffff;
}

.list {
  background-color: rgb(34, 44, 44);
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  list-style-type: none;
}

.input {
  font-family: inherit;
  margin-right: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  width: 500px;
  margin: 0 auto;
  height: 50px;
  padding: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  padding: 10px;
}
